* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lexical_container {
    position: absolute;
    top: 60px;
    right: 15px;
    color: white;
    width: 350px;
    max-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    z-index: 1;
    border: 8px solid #2D0005;
    overflow-y: auto; 
    overflow-x: hidden;
    scrollbar-width: none; 
}

.lexical-cont {
    align-self: flex-start;
    background-image: url("../assets/lexical.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%; 
}

.lexical_table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    table-layout: fixed;
}

.lexical_table th,
.lexical_table td {
    border: 1px solid rgba(186, 184, 184, 0.29);
    padding: 10px;
}

.lexical_table th {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFD955;
    position: sticky;
    top: 0;
}

.lexical_table td {
    color: white;
    overflow-wrap: break-word;
    word-break: break-all;
}

.lexical_container.hide {
    opacity: 0;
    pointer-events: none;
    transform: translateX(30px);
}

.lexical_container.show {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0);
}

.lexical_table tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.26);
}

.lexical_table tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.5);
}

.lexical_table tbody tr:hover {
    background-color: #5A0A06;
    transition: background-color 0.2s ease;
}