* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #2D0005;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    gap: 10px;
    position: relative;
    overflow: hidden;
}

.HeaderWrapper {
    height: 8%;
}

.CodeEditorWrapper {
    flex-grow: 1;
}

.TerminalWrapper {
    height: 35%;
}